  <footer class="bg-black text-white-50 py-5 border-top border-warning border-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-4">
          <h2 class="h6 text-white">Idiomas UC</h2>
          <p class="small">Parte de Global Partners in Education, conectados con 22 países.</p><a href="#"
            class="link-light" aria-label="Facebook"><i class="bi bi-facebook fs-5 me-2"></i></a><a href="#"
            class="link-light" aria-label="Instagram"><i class="bi bi-instagram fs-5"></i></a>
        </div>
        <div class="col-6 col-md-4">
          <h2 class="h6 text-white">Información para</h2>
          <ul class="list-unstyled small">
            <li><a class="link-light" href="#">Estudiantes</a></li>
            <li><a class="link-light" href="#">Postulantes</a></li>
            <li><a class="link-light" href="#">Egresados</a></li>
            <li><a class="link-light" href="#">Docentes</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-4">
          <h2 class="h6 text-white">Programas</h2>
          <ul class="list-unstyled small">
            <li><a class="link-light" href="#idiomas">Inglés</a></li>
            <li><a class="link-light" href="#idiomas">Italiano</a></li>
            <li><a class="link-light" href="#idiomas">Portugués</a></li>
            <li><a class="link-light" href="#inicio">Volver arriba</a></li>
          </ul>
        </div>
      </div>
      <hr class="border-secondary">
      <p class="small mb-0">Copyright © 2021 | Centro de Idiomas Universidad Continental</p>
    </div>
    <a href="#contacto" class="btn btn-lg rounded-pill btn-info position-fixed bottom-0 end-0 m-3 shadow"><i
        class="bi bi-chat-dots-fill"></i> Conversemos</a>
  </footer>